html,body {
	-ms-overflow-x: hidden !important;
	overflow-x: hidden !important;
}
.slick-prev:after, .slick-next:after{ display:none;}
.photoBox .pimaryMenu { left:15px;}
.navBox .otherMenu { float:left;}

.bannerHolder { text-align:center}

@media screen and (max-width: 1180px) {
	.photoBox .topSearch { right:auto; left:15px; top:15px}
	.within {
		width: auto !important;
	}
	.navBox ul li a { font-size:14px}
}

.within.inner {
    padding: 80px 20px 100px;
}

.sideBar {
    width: 33.2%;
    padding: 0 38px 20px 0;
}

.content {
    width: 66.8%;
}


@media screen and (max-width: 992px) {
	img {
		max-width: 100%;
		height: auto;
		width: auto\9; /* ie8 */
	}
	
	.logoHolder { margin:10px auto; float:none; display:table;}
	.menuHeader { display:table; margin:10px auto;}
	.menuHeader ul li { margin-right:15px;}
	
	.newsBox .newsHolder.w-4 {float:none; display:inline-block; width:100%;}
	.newsBox .newsHolder.w-4 img{ width:100%;}
	.newsBox .newsHolder.w-4 a { height:auto;}
	
	.newsBox .newsHolder.w-6 { float:none; display:inline-block; width:100%;}
	.newsBox .newsHolder.w-6 img{ width:100%;}
	.newsBox .newsHolder.w-6 a { height:auto;}
	
	.wallBox .sectionTitle { margin-top:20px;}
	
	
}

@media screen and (max-width: 833px) {
	.navBox { display:none;}
	.photoBox { display:block;}
}

@media (max-width: 780px) {

    .inner h1 {
        font-size: 48px;
        margin: 0 0 30px;
        padding: 0 0 20px;
    }


    .within.inner {
        padding: 55px 20px 40px;
    }

    .sideBar {
        width: auto;
        float: none;
        padding: 0 0 25px;
    }

    .content {
        width: auto;
        float: none;
    }

}

@media screen and (max-width: 768px) {
	.photoBox .topSearch .search input[type="text"] { width:285px;}
	.menuHeader ul li { margin-right:5px; }
	.menuHeader ul li a{font-size: 16px;}

    hr {
        margin: 45px 0 35px;
    }

    .content .alignright, .content .alignleft {
        float: none;
        margin: 0 auto 22px;
        text-align: center;
        display: block;
    }

    .contactData, .contactMap {
        width: auto;
        float: none;
        padding: 0;
    }

    .contactData {
        margin: 0 0 28px;
    }

    span.mapAspect {
        height: 320px;
    }


}


@media screen and (max-width: 600px) {
	.userMessage { display:none}
	.menuHeader ul li a{font-size: 14px;}
	.eventBox p a { font-size:16px;}
	
	.footerSponsors { float: none; display:table; margin:0 auto;}
}


@media screen and (max-width: 480px) {
	.menuHeader ul li {margin-right:7px;}
	.menuHeader ul li a i{ display:none;}
	.topBar .combinedMenu a.no-mob { display:none}
	.topBar .combinedMenu a.mob { display:block}
	.photoBox .galley p { font-size:9px;}
	.newsBox .newsHolder.w-4 { width:100%}
	.newsBox .newsHolder.w-6 { width:100%}
	.wallBox .t-cell { font-size:16px}
	
}

@media (max-width: 400px) {

    .content .bannerHolder, .content .newsHolder {
        float: none;
        margin: 0 auto 26px;
        text-align: center;
    }

    .content .bannerHolder img, .content .newsHolder img  {
        display: inline-block;
    }

}

@media screen and (max-width: 360px) {

    .eventBox p a {
        font-size: 14px;
    }
	
}




