* { margin:0; padding:0;}
* {
    font-smooth: always;
    -webkit-font-smoothing: subpixel-antialiased;
}
html, body { min-height:100%}

body{margin:0; padding:0; font-family: 'NeoSansStdRegular'; color:#000; background-color:#FFF; font-size: 12px;}


h1{ font-size:38px}
h2{ font-size:26px}
h3{ font-size:22px}
h4{ font-size:20px}
h5{ font-size:16px}
h6{ font-size:14px}

h1, h2, h3, h4, h5, h6 {
    transform: rotate(0.01deg);
}

p { font-size:14px;}

.within.table {
    display: table;
}

.fix:after {
    clear: both;
    content: "[.]";
    display: block;
    height: 0;
    visibility: hidden;
}

*:focus {
    outline: none;
    border: none;
}

.fix { display: inline-block;}

/*a, a:visited {color: #246db1;}*/
a, a img{ border:none;}
a:hover{ text-decoration:none !important;}

/* -----LAYOUT ELEMENTS -----*/

.within {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
    clear: both;
}

.no-padd { padding:0 !important}
.no-padd-left { padding-left:0 !important}
.no-padd-right { padding-right:0 !important}

.t-table { display:table}
.t-row { display: table-row}
.t-cell { display: table-cell}

/* ----- TOP-BAR BOX -----*/

.topBar { background-color:#F29711; height:36px;}

.topBar .userInfo {display:inline-block;}
.topBar .userInfo .userMessage{ color:#FFF;  font-size:13px; margin-left:10px;}

.topBar .combinedMenu { color:#FFF; display:inline-block; float:right}
.topBar .combinedMenu a, .topBar .otherMenu a{ float: left; line-height:36px; padding:0 10px; color:#FFF;}
.topBar .combinedMenu a.login{ background-color:#F28011; padding:0 20px;}
.topBar .combinedMenu a.soc{line-height:100%; padding:0;}
.topBar .combinedMenu a:hover, .topBar .otherMenu a:hover{color:#000;}
.topBar .triggerTop {
    display: none;
    float: right;
    background: #d9d9d9 none repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    height: 36px;
    outline: medium none;
    overflow: hidden;
    position: relative;
    text-indent: -900em;
    width: 45px;

}
.topBar .combinedMenu ul#menu-additional-top-menu  {
    list-style: none;
    text-transform: uppercase;
}


.topBar .triggerTop:after {
    background: #000 none repeat scroll 0 0;
    box-shadow: 0 10px 0 #000, 0 20px 0 #000;
    content: "";
    height: 5px;
    left: 16%;
    position: absolute;
    top: 6px;
    width: 68%;
}
.topBar .combinedMenu a.mob { display:none; line-height:36px; font-size:22px;}
.topBar .combinedMenu a.no-mob { display:block}

.topBar .otherMenu{
    float:right;
}
.topBar .otherMenu.open {
    background: #f29711;
    width: 100%;
    float: none;
    position: relative;
    display: block;
}

.topBar .otherMenu.open a {
    float: none;

}


/* -----HEADER ELEMENTS -----*/

.headerBox {
    background: #fcfcfc none repeat scroll 0 0;
}

.logoHolder {
    float: left;
    height: auto;
    margin: 18px 0;
    vertical-align: middle;
}

.mainMenu .logoHolder {
    display: none;
    margin: 5px 10px 5px 0;
}

.mainMenu.fixed .logoHolder{
    display: block;
}

.mainMenu .logoHolder a img {
    width: 80px;
    height: inherit;
}

.menuHeader { display:inline-block; margin:49px 0 0 56px; float: right;}
.menuHeader ul { list-style:none; margin:0;}
.menuHeader ul li{ float:left; margin-right:50px; padding: 0 0 0 35px;}
.menuHeader ul li a{ font-family: 'NeoSansStdRegular'; color:#E04915; font-size:21px; display:block; line-height:30px;}
.menuHeader ul li a i, .menuHeader ul li:before{ font-size:30px; color:#9D9D9D; float:left; margin: 0 0 0 -35px}
.menuHeader ul li a span{ line-height:30px; text-transform:uppercase;}
.menuHeader ul li a:hover span{ color:#000;}
.menuHeader ul li:hover a{
    color: #f29711;
}
.menuHeader ul li:hover:before {
    transition: all 120ms;
    transform: translateY(0) translateX(-5px);
}

/* -----NAV ELEMENTS -----*/

.navBox {
    background-color:#D9D9D9;
    height:62px;

}

.navBox ul{ list-style:none; margin:0; float: left;}

.navBox li{

   /* margin-right:50px;
    line-height:62px;
    height:62px;
    display: table-cell;
    vertical-align: middle;*/

    display: block;
    float: left;
    line-height: 62px;

    vertical-align: middle;


}

.navBox li a{
    font-family: 'NeoSansStdLight';
    color:#000;
    font-size:20px;
    display:block;
    padding:0 15px;
    /*margin:15px 0;
    border-right:1px solid #B8B8B8;*/
}

.navBox li a:hover{ color:#E04915;}
.navBox li span{}
.navBox li:last-child a{ border:none;}

.navBox ul li .dl-back{
    display: none;
}

.navBox ul li ul {

    visibility: hidden;
    opacity: 0;
    background: #ccc none repeat scroll 0 0;
    position: absolute;
    z-index: 1000;
    margin-top: 10px;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.navBox ul li:hover {
   background: #ccc none repeat scroll 0 0;
}


.navBox ul li:hover ul {
    visibility: visible;
    opacity: 1;
    display: block;
    margin-top: 0px;


}

.navBox .thruMenu { /*float:left*/}

.navBox .otherMenu { float:right; padding:0 25px; border-right:1px solid #B9B7B7; border-left:1px solid #B9B7B7; display:inline-block; height:62px;}

.navBox .otherMenu span {font-family: 'NeoSansStdRegular'; font-size:11px; display:block; float:left; margin-top:25px; text-transform:uppercase;}
.navBox .otherMenu ul { display:inline-block;}

/* ----- DL MENU  -----*/

#dl-menu.dl-menuwrapper {
    /* display: none;
     position: static;*/
}
#dl-menu.dl-menuwrapper .dl-trigger {

    display: none;
}


.dl-menu .otherMenu{ border-top:1px solid #555; background-color:#777}
.dl-menu .otherMenu span{ padding:15px; display:block; color:#333;}

.inner #dl-menu.dl-menuwrapper {
    margin: 15px;
    float: none;
    max-width: 340px;
    position: absolute;
    top: 40px;
    left: auto;
    width: auto;
    z-index: 10;
}

.inner #dl-menu.dl-menuwrapper .dl-menu {
    width: 280px;
}

/* ----- CONTENT -----*/

/* ----- photoBox -----*/

.photoBox {
    background-image: url(../images/basic/photo-home-bgrd.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    /*height: 624px;*/
    width: 100%;
    position:relative;
}
/*.photoBox .within{
    left: 10%;
    position: absolute;
    top: 10%;
}
*/
.photoBox img {
    display: block;
    width: 100%;
}

/* ----- photoBox pimaryMenu -----*/

.photoBox #pimaryMenu {
    position:absolute;
    /*left:0;
    top:120px;
    left: 10px;*/
    top: 120px;
    padding-top: 5px;

}
#pimaryMenu ul.primHolder {
    border-radius:5px;
    /*background-color:rgba(62,62,62,0.96);*/
    background-color:rgba(48,48,48,0.98);
    list-style:none;
    margin:0;
    padding-bottom: 5px;
}

#pimaryMenu ul.primHolder li {
    padding: 0 10px;
}

#pimaryMenu ul.primHolder li a{
    padding: 6px 0px;
    color:#fff;
    font-family: 'NeoSansStdRegular';
    font-size:22px;
    line-height:1.4;
    display:block;
    text-decoration:none;
    margin-right: 24px;

}
#pimaryMenu ul.primHolder li a:hover{color:#FAC500;}
#pimaryMenu ul.primHolder ul{ list-style:none; margin:0; display:none;}
#pimaryMenu ul.primHolder ul li a{font-family: 'NeoSansStdLight'; font-size:15px; color:#A4A4A4; padding: 4px 10px 4px 0;}
#pimaryMenu ul.primHolder .fa {
    /*background: #fff none repeat scroll 0 0;
    border-radius: 15px;*/
    color: #f29711;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin: -24px 0 0;
    text-align: center;
    width: 18px;
}

#pimaryMenu ul {
    /*transition: all 100ms cubic-bezier(0.895,0.03,0.685,0.22);*/
}

#pimaryMenu ul.primHolder ul.children {
    margin-left: 5px;
}

#pimaryMenu ul a.parent {
    padding: 10px 20px 10px 10px;
    color:#fff;
    font-family: 'NeoSansStdRegular';
    font-size:14px;
    line-height:1.4;
    display:block;
    text-decoration:none;
}
#pimaryMenu ul a.parent span {
    color: #f29711;

}

#pimaryMenu ul a.parent:hover {
    color: #fac500;
}
#pimaryMenu ul a.parent:hover span {

}

#pimaryMenu .has-sub.open i{

    transform: rotate(-180deg);
}
#pimaryMenu ul.primHolder li.has-sub.open ul a i{
    transform:none;
    margin: 0 -8px 0 0;
}

.primHolder li.separator {
    border-top: 1px solid #ccc ;
    padding-top: 15px !important;
}
.primHolder li.separator:before {
    content: "Visit our other sites:";
    display: block;
    color: #e04915;

}

.sideBar #pimaryMenu h4 {
    border-bottom: 1px solid #606060;
    color: #fff;
    padding: 10px 18px 10px 40px;
    position: relative;
    margin-bottom: 5px;
}

.sideBar #pimaryMenu h4:before {
    font-family: "FontAwesome";
    left: 16px;
    position: absolute;
    top: 12px;
    content: "\f016";
}

#pimaryMenu ul.primHolder li.other a {
    font-size: 16px;
}

.sideBar #pimaryMenu {
    margin-bottom: 20px;
}

.sideBar #pimaryMenu ul.primHolder li a {
    font-size: 14px;
}

.sideBar #pimaryMenu ul.primHolder ul li a {
    font-size: 12px;
}

/* ----- photoBox topSearch -----*/

.photoBox .topSearch {
    position:absolute;
    /*right:90px;*/
    top:200px;
    right: 25%;
    /*left: 0;*/
    margin: 0 auto;
    width: 35%;

}
.photoBox  .topSearch span {
    float: left;
    font-size: 12px;
    line-height: 30px;
    vertical-align: middle;
}
.photoBox .topSearch .search input[type="text"] {
   /* width: 704px;*/
}
.photoBox .topSearch input[type="text"] {
    background-color: #FFF;
    border: medium none;
    border-radius: 5px;
    box-shadow: 0 0 5px #888;
    color: #858585;
    display: block;
    float: left;
    font-family: 'NeoSansStdLight';
    font-size: 26px;
    font-weight: 300;
    height: 66px;
    margin: 0;
    padding: 5px 10px 5px 55px;
}
.photoBox .topSearch .search {
    /*float: right;*/
    position: relative;
}

.photoBox .topSearch button[type="submit"] {
    background-color: #FFF;
    cursor: pointer;
    display: block;
    height: 66px;
    position: absolute;
    left: 20px;
    top: 0px;
    width: 26px;
    border:none;
}
.photoBox. topSearch button[type="submit"] {
    background-color: #FFF;
    border: medium none;
    border-radius: 5px;
    transition: all 200ms linear 0s;
}
.photoBox .topSearch button[type="submit"]::after {
    color: #C7C7C7;
    content: "\f002";
    display: block;
    font-family: "FontAwesome";
    font-size: 22px;
    height: 22px;
    margin-right: 0px;
    margin-top: 0px;
    width: 22px;
}
.photoBox .topSearch button[type="submit"]:hover {
    opacity: 0.7;
    transition: all 200ms linear 0s;
}

.photoBox .topSearch p.all a {
    color: #fff;
    float: left;
    margin: 7px 8px;
}

.photoBox .topSearch p.all a:hover {
    text-decoration: underline;
}

.term {
    color:#e04915;
    font-style: italic;
}

/* ----- photoBox galley -----*/

.photoBox .galley { height:40px; text-align:center; background-color:rgba(166,59,26,0.75); bottom:0; position: absolute; bottom:1px; width:100%;}
.photoBox .galley p{ margin:0; line-height:40px; color:#FFF; font-family: 'NeoSansStdRegular'; font-size:12px; text-transform:uppercase;}
.photoBox .galley p span{ color:#F9BB00;}

/* ----- NEWS BOX -----*/

.newsBox { padding:65px 0 65px 0; background:url(../images/basic/hockey.png) no-repeat 5% 50%;}
.sectionTitle{ color:#E04915; font-family: 'NeoSansStdMedium'; padding-bottom:10px; border-bottom:3px solid #E6E6E6;}
.content .sectionTitle {
    font-size: 22px;
}


.newsBox .newsHolder { float:left;}
.newsHolder.w-4 { /*width:224px; margin-right:20px;*/}
.newsHolder.w-6 { width:468px; }
.newsHolder a{ display:block; margin-bottom:15px;  background-color:#F9BB00;}
.newsHolder a .titleHolder { padding:10px 10px 30px;}
.newsHolder .title { color:#000; font-family: 'NeoSansStdLight'; line-height:150%;}
.newsHolder a p {color:#000; margin:0; line-height:120%; font-size:11px;}
.newsHolder a:hover{ background-color:#E14915;}
.newsHolder a:hover .title { color:#FFF;}
.newsHolder .download {
    color:#E04915 !important;
    font-family: 'NeoSansStdBold' !important;
    transform: rotate(0.01deg);
    position: absolute;
    bottom: 15px;
}
.newsHolder  a:hover .download {color:#000 !important;}
.newsHolder p.additionalText { margin-bottom: 10px;}


.newsBox .bannerHolder a{ display:block; margin-top:15px; }

.newsHolder h3 {
    margin: 0 0 10px;
}

.newsHolder a.side-box {
    min-height: 345px ;
    position: relative;
}

/* ----- WALL BOX -----*/

.wallBox {  padding:60px 0 60px 0; color:#999999; background: #EFEFEF url(../images/basic/climbing.png) no-repeat 85% 50%;}
.wallBox .sectionTitle { margin-bottom:15px;}
.wallBox .wallCont {
    width:100%;
    font-size:20px;
    transform: rotate(0.01deg);
}


/* ----- EVENT BOX -----*/

.eventBox { background-color:#F9BB00; height:65px; text-align:center;}
.eventBox p a{ margin:0; line-height:65px; color:#FFF; font-family: 'NeoSansStdBold'; font-size:24px; text-transform:uppercase;}


/* ----- FOOTER -----*/

footer {
    background-color:#FFF;
    padding-top:30px;
    border-top: 1px solid #eee;
}

.footerTop {

    display: table;
    height: 130px;
    padding: 0 10px 10px;
    width: 100%;
}
.footerMenu {
   /* float: left;*/
}
.footerMenu .navHolder {
    display: inline-block;
    float: left;
    margin: 0 2px 0 0;
}
.footerMenu .navHolder:last-child {
    margin:0;
}

.footerMenu .navHolder ul#navSec {
    list-style: none;
    width: 170px;
    margin:0;
}
.footerMenu .navHolder ul#navSec h3 {
    color: #000;
    font-family: 'NeoSansStdMedium';
    font-size: 16px;
    font-weight: normal;
    padding: 5px 0;
    margin-bottom:10px;
}
.footerMenu .navHolder ul#navSec li {
    color: #595959;
    float: none;
    line-height: 150%;
    margin-bottom: 5px;
    position: relative;
    transition: all 200ms linear 0s;

}
.footerMenu .navHolder ul#navSec li:hover {
    color: #999  ;
    transition: all 200ms linear 0s;
}

.footerMenu .navHolder ul#navSec li a {
    color: inherit;
    font-size: 12px;
    text-decoration: underline;
    text-transform: none;
    transition: all 200ms linear 0s;
    font-family:Arial, Helvetica, sans-serif;
}

.footerSponsors { }

.footerSponsors h3{
    color: #000;
    font-family: 'NeoSansStdMedium';
    font-size: 16px;
    font-weight: normal;
    padding: 5px 0;
    margin-bottom:10px;
}

.footerBottom { background-color:rgba(153,153,153,0.50);}
.footerBottom  .within{ }
.copyrightHolder { height:36px;}
.copyrightHolder p{ margin:0; line-height:36px; font-size:12px; color:#9E9E9E;}

.innerphotoBox {
    position: relative;
}

.innerphotoBox img {
    display: block;
    width: 100%;
    height: auto;
}

.within.inner {
    /*padding: 100px 0 120px;*/
    padding: 20px 10px 120px;
}

.inner h1 {
    font-size: 50px;
    font-family: NeoSansStdLight, arial, helvetica, sans-serif;
    line-height: 1.2;
    margin: 0 0 20px;
    padding: 0 0 20px;
    border-bottom: 1px solid #a6a6a6;
}

.sideBar {
    padding-right: 5px !important;

}

.sideBanner {
    padding-left: 5px !important;
}

.sideBar.promo {
    /*display: block;
    float: right;
    margin: 0 -244px 0 0;
    padding: 0 0 20px;
    width: 244px;*/
}


.sideBar  #pimaryMenu ul.primHolder {
    min-width: 0;
}

.quick-links {
    /*background: #f9bb00 none repeat scroll 0 0;*/
    background-color: rgba(48, 48, 48, 0.98);
    border-radius: 5px;
}

.quick-links h4 {
    /*color: #e04915;*/
    border-bottom: 1px solid #606060;
    color: #fff;
    padding: 10px 18px 10px;
    margin-bottom: 5px;
}

.quick-links ul {
    list-style: none;
    margin: 0;
    padding: 0 0 10px 0;
}

.quick-links ul li {
    color: red;
    font-family: "NeoSansStdRegular";
    margin-bottom: 3px;

}

.quick-links ul li a {
    color: #fff;
    display: block;
    line-height: 16px;
    width: 100%;
    padding: 8px 20px;
    font-size: 14px;
    transform: rotate(0.01deg);
}

.quick-links ul li a:hover {
    background-color: #e14915;
    color:#fff;
}

.quick-links ul li a:before {
    content: ">";
    margin-right: 2px;
    margin-left: -10px;
    color: #e14915;
}

.quick-links ul li a:hover:before {
    color: #fff;
}

.content {
    font-size: 16px;
    /*float: left;
    width: 80%;
    color: #656565;
    line-height: 1.7;*/
    /*display: table;*/
}

.wrap .content {
    /*width: 60%;*/
    padding-right: 244px ;
}

.basic .wrap .content {
    width: 100%;
    padding-right: 274px ;
}



.content p {
    font-size: 16px;
    margin: 0 0 26px;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    font-family: 'NeoSansStdBold', arial, helvetica, sans-serif;
    line-height: 1.25;
    margin: 0 0 26px;
    transform: rotate(0.01deg);

}

.content h1 {
    font-size: 36px;
    padding: 0;
    border-bottom: none;
}

.content h2 {
    font-size: 32px;
}

.content h3 {
    font-size: 28px;
}

.content h4 {
    font-size: 24px;
}

.content h5 {
    font-size: 18px;
}

.content h6 {
    font-size: 14px;
}

.content .moreText {
    display: none;
    margin-bottom: 20px;
}

.content h4.showMoreToggler {
    font-family: "NeoSansStdMedium";
    cursor: pointer;
    color: #337ab7;
    font-size: 20px;
    padding: 10px;
    background-color: #eaeaea;
    transition: all 400ms ease;

}

.content h4.showMoreToggler:hover {
    background-color: #337ab7;
    color: #fff;
    padding-left: 15px;
}

.content h4.showMoreToggler:hover:after {
    /*background-color: #eaeaea;*/
}

.content h4.showMoreToggler:after {
    font-family: "FontAwesome";
    content: "\f078";
    content: "\f067";
    position: absolute;
    right: 0;
    top: 0;
    background-color: #337ab7;
    color: #fff;
    height: 100%;
    line-height: 45px;
    text-align: center;
    width: 45px;
}

.content h4.showMoreToggler.on:after {
    content: "\f068";
}

/* Editor styles */

.content ul {
    list-style: none;
    display: block;
    margin: 0 0 30px;
}

.content ul ul, .content ul ol, .content ol ul, .content ol ol {
    margin: 14px 0 20px 30px;
}

.content ul li {
    display: block;
    margin: 0 0 6px;
    padding: 0 0 0 15px;
}

.content ol {
    padding: 0 0 0 15px;
}

.content ol li {
    margin: 0 0 6px;
}

.content ul li:before,  .content ol ul li:before, .content ul ol ul li:before {
    content: '\f105';
    font: normal 16px/1 FontAwesome;
    color: #666;
    display: block;
    float: left;
    margin: 5px 0 0 -16px;
}

.content ol, .content ul ol, .content ol ul ol {
    list-style-type: decimal;
    list-style-position: outside;
    margin: 0 0 30px;
}

.content ol li:before, .content ul ol li:before  {
    display: none;
}

.content ul ol {
    counter-reset: li;
}

.content ul ol li {
    counter-increment: li;
}

.content ul ol li:before {
    content: counter(li) '. ';
    display: block;
    float: left;
    margin: 4px 0 0 -16px;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.content figure, .newsHolder img {
    width: 100%;
    height: auto;
}

.content > *:first-child img {
    height: auto;
    width: 100%;
}

.content .row {
    padding-bottom: 20px;
}

.content .row .col img {
    width: 100%;
}
.content .alignnone {
  /*  width: auto !important;*/
}

.content .alignright {
    float: right;
    margin: 0 0 0 22px;
}

.content .alignleft {
    float: left;
    margin: 0 22px 0 0;
}

.content .aligncenter, .content .alignnone {
    text-align: center;
    margin: 0 auto;
}

.content figure.aligncenter, .content figure.alignnone {
    margin: 0 auto 38px;
}

.content code {
    background-color: #f2f2f2;
    display: inline-block;
    padding: 1px 4px;
    margin: 0;
    font-family: monospace, courier, serif;
}

.content pre code {
    display: block;
    padding: 12px;
}

.content pre {
    margin: 0 0 30px;
    white-space: pre-wrap;
    padding: 20px;
    background-color: #f2f2f2;
}

.content address {
    display: block;
    margin: 0 0 30px;
    font-family: Montserrat, arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.65;
    font-style: normal;
}

.wp-caption-text {
    font-size: 11px;
    line-height: 1.1;
    padding: 5px;
    text-align: center;
}

.content table {
    width: 100%;
    margin: 0 0 30px;
    border-collapse: collapse;
    text-align: left;
}

.content table caption {
    background-color: #ada15c;
    border-bottom: 1px solid #ada15c;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.15;
    padding: 12px 10px;
    text-align: center;
    text-transform: uppercase;
}

.content table th {
    background-color: #999;
    border-bottom: 1px solid #666;
    border-left: 1px solid #666;
    font-weight: 700;
    padding: 12px 10px;
    color: #fff;
}

.content table tr th:first-child {
    border-left: none;
}

.content table td {
    padding: 10px;
}

.content table tr:nth-child(even) td {
    background-color: rgba(0,0,0,0.05);
}

.content table td a {
    font-weight: 700;
}

.content table td a:hover {
    text-decoration: underline;
}

.content dl {
    display: block;
    margin: 0 0 30px;
    overflow: hidden;
}

.content dt {
    font-weight: 600;
    display: block;
    margin: 0 0 5px;
}

.content dd {
    display: block;
    margin: 0 0 10px 10px;
    padding: 0 0 0 15px;
}

.content dd:before {
    content: '-';
    display: block;
    float: left;
    margin: 0 0 0 -15px;
}

.content .allProgramsList {

}

.content .head-img {
    max-height: 345px;
    overflow-y: hidden;
}

hr {
    clear: both;
    margin: 85px 0 55px;
}

.aligncenter {
    margin: 0 auto 30px;
}

/* /Editor styles */


.content .bannerHolder, .content .newsHolder {
    float: right;
    margin: 0 0 20px 30px;
}

.contactData {
    width: 50%;
    float: left;
    padding: 0 70px 0 0;
}

.contactMap {
    float: left;
    width: 50%;
}

.mapHolder {
    position: relative;
}

span.mapAspect {
    display: block;
    width: 100%;
    height: 710px;
    visibility: hidden;
}

#gmap_canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    width: 100% !important;
    height: 100% !important;
}

.contactMeta {
    margin: 0 0 10px;
}

.contactMeta {
    clear: left;
    margin: 0 0 30px;
}

.contactMeta p {
    margin: 0 0 20px;
    line-height: 1.7;
    font-size: 16px;
    padding: 0 0 0 36px;
}

.contactMeta p:before {
    font-family: FontAwesome;
    font-weight: normal;
    color: #aeaeae;
    line-height: 1;
    display: block;
    float: left;
    margin: 2px 0 0 -36px;
}

.contactMeta p.cmLocation:before {
    content: '\f041';
    font-size: 24px;
}

.contactMeta p.cmPhone:before {
    content: '\f10b';
    font-size: 31px;
    margin: -2px 0 0 -36px;
}

.contactMeta p.cmMail:before {
    content: '\f0e0';
    font-size: 18px;
    margin: 4px 0 0 -36px;
}

.contactMeta p.cmWorkingHours:before {
    content: '\f017';
    font-size: 22px;
    margin: 3px 0 0 -36px;
}

.contactMeta p a {
    color: #333;
    text-decoration: underline;
}

.contactMeta p a:hover {
    text-decoration: none;

}

.contactMeta p strong {
    display: inline-block;
    min-width: 128px;
}

.contactForm p {
    margin: 0 0 20px;
    clear: left;
}

input[type="text"], input[type="email"], input[type="date"], textarea {
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #ddd;
    color: #000;
    font-size: 14px;
    padding: 0 20px;
    transition: all 320ms ease;
}

textarea {
    height: 140px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="date"]:focus, textarea:focus {
    border: 1px solid #e04915;
    box-shadow: 0 0 2px #e04915;
    transition: all 320ms ease;
}

.btn, input[type="submit"] {
    font-family: NeoSansStdBold, arial, helvetica, sans-serif;
    background-color: #e14916;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    padding: 19px 34px;
    cursor: pointer;
    display: inline-block;
    transform: rotate(0.01deg);
}

.btn:hover, .btn:focus, input[type="submit"]:focus, input[type="submit"]:hover {
    background-color: #B23409;
    color: #fff;
}

#breadcrumbs{
    list-style:none;
    margin:10px 0;
    overflow:hidden;
}

#breadcrumbs li{
    display:inline-block;
    vertical-align:middle;
    margin-right:5px;
}

#breadcrumbs .separator{
    font-size:18px;
    font-weight:100;
    color:#ccc;
}

h4.questionNtoggler {
    font-family: NeoSansStdRegular;
    cursor: pointer;
    display: block;
    padding: 12px 55px 12px 20px;
    margin: 0 0 12px;
    color: #337ab7;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    position: relative;
    /*background-color: #F29711;*/
    background-color: #eaeaea;
    transition: all 400ms ease;
}

h4.questionNtoggler:hover, h4.questionNtoggler.on {
    /*background-color: #E34A18;*/
    background-color: #337ab7;
    color: #fff;
    padding: 12px 55px 12px 25px;
    transition: all 220ms ease;
}

h4.questionNtoggler:before {
    content: '\f078';
    font: normal 22px/1 FontAwesome;
    color: #fff;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    text-align: center;
    padding: 10px 0 0;
    background-color: #337ab7;
}

h4.questionNtoggler.on:before {
    content: '\f077';
}

.answerBox {
    display: none;
    overflow: hidden;
    padding: 0 0 20px;
    transition: none !important;
}

.answerBox *:last-child {
    margin: 0;
}

.pageWrap {
    position: relative;
    overflow: hidden;

    /*-webkit-transform:translate3d(0,0,0);
    -webkit-transition: -webkit-transform 320ms ease;*/
}


.mainMenu:after, .pageWrap:after {
    clear: both;
    content: ' ';
    display: table;
    width: 100%;
}

.menuToggler {
    display: none;
}

.mainMenu {
    /*background-color: #D9D9D9;*/
    background-color: #e3e3e3;
    position: relative;
    z-index: 5;
    border-top: 1px solid #ccc;
}


.mainMenu ul li {
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.mainMenu nav {
    display: block;
}

.mainMenu ul {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

.mainMenu ul li {
    float: left;
    display: block;
    position: relative;
}

.mainMenu ul li a {
    color: #222;
    display: block;
    font-family: NeoSansStdLight,arial,sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 62px;
    padding: 0 15px;
    vertical-align: middle;
    transform: rotate(0.01deg);
}

.mainMenu ul li:hover a, .mainMenu ul li a.active {
    color:#E04915;
}

.mainMenu ul li:hover a {
    background-color: #ccc;
}

.fixed {
	position: fixed;
	top: -60px;
	width: 100%;
    transform: translate(0,60px);
    transition: transform 320ms ease;
    transition-delay: 200ms
}


/* Sub Menus */

.mainMenu ul ul {
    position: absolute;
    width: 250px;
    left: 0;
    top: auto;
    margin: -1px 0 0;
    background-color: #ccc;
    pointer-events: none;
    opacity: 0;
    /*transform: translateY(80px);
    transition: all 100ms cubic-bezier(0.895,0.03,0.685,0.22);*/
}

.mainMenu ul li:hover ul {
    pointer-events: auto;
    opacity: 1;
    /*transform: translateY(0);
    transition: all 100ms cubic-bezier(0.895,0.03,0.685,0.22);*/
}

.mainMenu ul ul li {
    font-family: 'Raleway', arial, tahoma;
    font-size: 14px;
    font-weight: 500;
    float: none;
    text-transform: none;
    border-top: 1px solid rgba(255,255,255,0.15);
}

.mainMenu ul ul li:first-child {
    border-top: none;
}

.mainMenu ul ul li a, .mainMenu ul li:hover ul li a {
    color: #333;
    padding: 8px 15px;
    font-size: 17px;
    line-height: 1.15;
}

.mainMenu ul ul li a:hover, .mainMenu ul li:hover ul li a:hover {
    background-color: rgba(0,0,0,0.05);
    color: #D35400;
}

/* 3rd Level */
.mainMenu ul li:hover ul ul {
    pointer-events: none;
    opacity: 0;
    left: 170px;
    top: 0;
    margin: 0px 0 0;
    transform: translateY(0) translateX(80px);
}

.mainMenu ul li:hover ul li:hover ul {
    pointer-events: auto;
    /*transform: translateY(0) translateX(0);*/
    opacity: 1;
    transition: all 100ms cubic-bezier(0.895,0.03,0.685,0.22);
}

/* 4th Level */
.mainMenu ul li:hover ul li:hover ul li ul {
    pointer-events: none;
    opacity: 0;
    transform: translateY(0) translateX(80px);
}

.mainMenu ul li:hover ul li:hover ul li:hover ul {
    pointer-events: auto;
    /*transform: translateY(0) translateX(0);*/
    opacity: 1;
    transition: all 100ms cubic-bezier(0.895,0.03,0.685,0.22);
}

span.subToggler {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    width: 34px;
    text-align: center;
    font: 20px/12px FontAwesome;
    color: #333;
    padding: 12px 0 0;
    z-index: 1;
}

span.subToggler:before {
    content: '\f105';
    display: inline-block;
}

span.subToggler.on:before {
    content: '\f106';
}


/* /Sub Menus */


/* IE 10 stupido */


html[data-useragent*='MSIE 10.0'] .siteMenu ul ul, html[data-useragent*='Edge'] .siteMenu ul ul {
    display: none;
}

html[data-useragent*='MSIE 10.0']  .siteMenu ul li:hover ul, html[data-useragent*='Edge']  .siteMenu ul li:hover ul {
    display: block;
}

html[data-useragent*='MSIE 10.0'] .siteMenu ul li:hover ul ul, html[data-useragent*='Edge'] .siteMenu ul li:hover ul ul {
    display: none
}

html[data-useragent*='MSIE 10.0'] .siteMenu ul li ul li:hover ul, html[data-useragent*='Edge'] .siteMenu ul li ul li:hover ul {
    display: block;
}

html[data-useragent*='MSIE 10.0'] .siteMenu ul li:hover ul li:hover ul li ul, html[data-useragent*='Edge'] .siteMenu ul li:hover ul li:hover ul li ul {
    display: none;
}

html[data-useragent*='MSIE 10.0'] .siteMenu ul li:hover ul li:hover ul li:hover ul, html[data-useragent*='Edge'] .siteMenu ul li:hover ul li:hover ul li:hover ul {
    display: block;
}


html[data-useragent*='MSIE 10.0'] .siteMenu ul li:hover ul li:hover ul li:hover ul li ul, html[data-useragent*='Edge'] .siteMenu ul li:hover ul li:hover ul li:hover ul li ul {
    display: block;
}

html[data-useragent*='MSIE 10.0'] .siteMenu ul li:hover ul li:hover ul li:hover ul li ul, html[data-useragent*='Edge'] .siteMenu ul li:hover ul li:hover ul li:hover ul li:hover ul {
    display: block;
}

/* Forms */

span.wpcf7-list-item {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 14px;
}

/* Home slider */
.amazingslider-nav-1 {
    top: 92% !important;
}

/* Alerts */
.alerts {
    display: inline-block;
    padding: 6px 10px 6px 30px;
    position: relative;
    max-height: 72px;
    overflow: hidden;

}

.alerts:before {
    font-family: "FontAwesome";
    left: 7px;
    position: absolute;
    top: 7px;
    font-size: 1.5em;
    content: '\f071';
    color: #4e4e4e;
}


.alerts p.alert {
    display: none;
    margin-bottom: 0;
    color: #fff;
}

img.not-full {
    width: auto !important;
}

/* PM widgets */

#bookMe4Widget object {
    width: 100%;
    height: 700px;
}

/* Blog */

.post-box {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.post-box h2 {
    margin-bottom: 10px;
}
.post-box h2 a {
    color: inherit;
}

.post-box h2 a:hover {
    color: #e04915;
}

.post-box .date {
    margin: 10px 0;
    text-align: right;
    color: #5a5a5a;
}

.post-box .date i {
    font-size: 16px;
}

.post-box .post-image {
    margin-bottom: 10px;
}

.post-meta {
    /*background: #eee none repeat scroll 0 0;*/
    display: inline-block;
    padding: 8px;
    width: 100%;
}

.post-meta * {
  /* float: left;*/

}

.post-meta .cc {
    display: inline-block;

}

.post-meta .post-categories {
    list-style: none;
    margin: 0 30px 0 0;
    padding: 0;
    text-align: left;
    float: left;
}

.post-meta .post-categories a {
    float: none;
}
.post-meta i {
    margin-right: 5px;
    float: left;
}

.post-meta .count-post-comments {
    float: left;
}

.post-meta .read-more {
    text-align: right;
}

.post-meta .read-more a {
    background-color: #ccc;
    color: #000;
    padding: 8px 20px;
}

.post-meta .read-more a:hover {
    text-decoration: underline;
    background: #e04915;
    color: #fff;
}

.nav-links  {
    text-align: right;
}

.nav-links * {
    padding: 5px;
    background-color: #ccc;
    font-weight: 600;
}

.nav-links .current {
    background: #e04915;
    color: #fff;
}

ol.commentlist {
    list-style: none;
    margin-left: 0;
}

ol.commentlist li {
    background-color: #eee;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

ol.commentlist ul {
    list-style: none;
    margin-left: 10px;
}

ol.commentlist .comment-meta a {
    font-size: 11px;
}

h3#comments {
    margin-bottom: 20px;
}

.vcard img {
    margin: 0 5px 5px 0;
}
.vcard cite {
    font-weight: 600;
    font-style: normal;
}


/* Blog Sidebar */


.blog-sidebar .search input[type="text"] {
    height: 50px;
    padding: 0 0 0 40px;
}

.blog-sidebar .search  {
    position: relative;
    margin-bottom: 30px;
}

.blog-sidebar .search button[type="submit"] {
    background-color: #FFF;
    cursor: pointer;
    display: block;
    height: 50px;
    position: absolute;
    left: 10px;
    top: 0px;
    width: 26px;
    border:none;
}
.blog-sidebar .search button[type="submit"] {
    background-color: transparent;
    border: medium none;
    border-radius: 5px;
    transition: all 200ms linear 0s;
}
.blog-sidebar .search button[type="submit"]::after {
    color: #C7C7C7;
    content: "\f002";
    display: block;
    font-family: "FontAwesome";
    font-size: 22px;
    height: 22px;
    margin-right: 0px;
    margin-top: 0px;
    width: 22px;
}
.photoBox .topSearch button[type="submit"]:hover {
    opacity: 0.7;
    transition: all 200ms linear 0s;
}

.blog-sidebar ul {
    list-style: none;
    margin-left: 5px;
    margin-bottom: 30px;
    transform: rotate(0.01deg);

}

.blog-sidebar ul li {
    border-bottom: 1px solid #ddd;
}
.blog-sidebar ul li a {
    font-size: 16px;
    line-height: 36px;
    color: #e04915;

}
