@font-face {
    font-family: 'NeoSansStdLight';
    src: url('../fonts/NeoSansStdLight.eot');
    src: url('../fonts/NeoSansStdLight.eot') format('embedded-opentype'),
         url('../fonts/NeoSansStdLight.woff2') format('woff2'),
         url('../fonts/NeoSansStdLight.woff') format('woff'),
         url('../fonts/NeoSansStdLight.ttf') format('truetype'),
         url('../fonts/NeoSansStdLight.svg#NeoSansStdLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeoSansStdMedium';
    src: url('../fonts/NeoSansStdMedium.eot');
    src: url('../fonts/NeoSansStdMedium.eot') format('embedded-opentype'),
         url('../fonts/NeoSansStdMedium.woff2') format('woff2'),
         url('../fonts/NeoSansStdMedium.woff') format('woff'),
         url('../fonts/NeoSansStdMedium.ttf') format('truetype'),
         url('../fonts/NeoSansStdMedium.svg#NeoSansStdMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'NeoSansStdRegular';
    src: url('../fonts/NeoSansStdRegular.eot');
    src: url('../fonts/NeoSansStdRegular.eot') format('embedded-opentype'),
         url('../fonts/NeoSansStdRegular.woff2') format('woff2'),
         url('../fonts/NeoSansStdRegular.woff') format('woff'),
         url('../fonts/NeoSansStdRegular.ttf') format('truetype'),
         url('../fonts/NeoSansStdRegular.svg#NeoSansStdRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeoSansStdBold';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/NeoSansStdBold.eot');
    src: url('../fonts/NeoSansStdBold.eot') format('embedded-opentype'),
         url('../fonts/NeoSansStdBold.woff2') format('woff2'),
         url('../fonts/NeoSansStdBold.woff') format('woff'),
         url('../fonts/NeoSansStdBold.ttf') format('truetype'),
         url('../fonts/NeoSansStdBold.svg#NeoSansStdBold') format('svg');

}