body.menuOpen {
	-ms-overflow-x: hidden !important;
	overflow-x: hidden !important;
}
.slick-prev:after, .slick-next:after{ display:none;}
/*.navBox .otherMenu { float:left;}*/

.bannerHolder { text-align:center}


@media screen and (max-width: 1180px) {

    .within {
        width: auto !important;
    }
    .navBox ul li a { font-size:14px}

    .topBar .otherMenu {
        display: none;
    }
    .topBar .triggerTop {
        display: block;
    }
    .menuHeader ul li {

    }
}

@media (max-width: 768px) {
    .mainMenu nav {
        width: auto;
    }
    .mainMenu ul li a {
        font-size: 18px;
    }
    .mainMenu ul ul li a {
        font-size: 16px;
    }
    .mainMenu ul ul ul li a {
        font-size: 14px;
    }
    .logoHolder img {
        max-height: 42px;
    }
    .logoHolder a {
        padding: 7px;


    }
    span.subToggler:before {
        content: '\f107';
        display: inline-block;
    }

    span.subToggler.on:before {
        content: '\f106';
    }

    .homepage-alerts .newsHolder img {

        max-height: 100%;
        width: 100%;
    }


}

@media screen and (max-width: 1024px) {

    .topMega {
        display: none !important;
    }

    .mobileMega {
        display: block;
    }

    .pageWrap {
        margin-top: 54px;
    }

    .slide-boxes .slide-box {
        background-size: cover;
    }

    .working-hours .flex {
        display: block;
    }

    .working-hours .flex > div{
        margin: 15px 0;
    }

    .topBar .combinedMenu .textwidget {
        display: none;
    }

    .mainMenu {
        height: 100%;
    }
    .newsBox {
        background: none;
    }
    .newsBox .promoBox .promo-img-wrap {
        height: 170px;
    }
    .newsBox .homepage-alerts .promoBox .promo-img-wrap {
        height: auto;
    }
    #wonderpluginslider-container-1 .amazingslider-text-wrapper-1 {
        top: 26% !important;
    }
    .amazingslider-video-wrapper-1 .amazingslider-video-container-1 {
        display: none !important;
    }

    .navBox { height: auto;}
    .navBox li a { margin: 0; border: none; font-size: 150% !important;}
    .navBox li {float: none; display: block; margin-right: 0;}
    .navBox ul li .dl-back{
        display: block;
    }
    .navBox ul li:hover ul {
       display: none;
    }

    .navBox ul li ul {
        visibility: visible;
        opacity: 1;
        background: auto;
        width: 100%;
        margin-top: 0px;
    }

    #dl-menu.dl-menuwrapper .dl-trigger {display: block;}
    .navBox .otherMenu {display: none;}
    .navBox .otherMenu { float: left; border: none;}
    .navBox .otherMenu ul li { float: left;}
    .navBox .otherMenu ul li a { font-size: 50%}
    .navBox .otherMenu span {display: none;}
    #dl-menu.dl-menuwrapper { margin: 9px !important; }

    .navBox li.separator { margin: 0; border: none}
    .navBox li.separator:before{float: none; color: white; margin: 0 0 0 10px; position: relative;}
    /*.quick-links ul li a {
        font-size: 18px;
        line-height: 22px;
    }*/

}

@media screen and (max-width: 992px) {

/*    #mega-menu-wrap-max_mega_menu_1 .mega-menu-toggle {
        display: none;
    }


    #mega-menu-wrap-max_mega_menu_1 .mega-menu-toggle + #mega-menu-max_mega_menu_1 {
        display: block;
    }*/

        .amazingslider-nav-1 {
        display: none !important;
        /*bottom: 80% !important;*/
    }

    #loading-wrap img.logo-animate {
        width: 180px;
        margin-top: 32%;
    }

    img {
        max-width: 100%;
        height: auto;
        width: auto\9; /* ie8 */
    }

    .logoHolder {

    }

    .mainMenu.fixed .logoHolder {
        float: left;
    }

    .menuHeader {
        display: table;
        margin: 10px auto;
        float: none
    }

    .menuHeader ul li {
        padding-right: 8px;
        margin-right: 10px;
    }
    .menuHeader ul li:before {
        margin-right: -32px;
    }
    .menuHeader ul li:last-child {
        padding-right: 0;
    }

    .mainMenu.fixed ul li a {
        padding: 0 12px;
        font-size: 14px;
    }

    .newsBox .newsHolder.w-4 {
        float: none;
        display: inline-block;
        width: 100%;
    }

    .newsBox .newsHolder.w-4 img {
        width: 100%;
    }

    .newsBox .newsHolder.w-4 a {
        height: auto;
    }

    .newsBox .newsHolder.w-6 {
        float: none;
        display: inline-block;
        width: 100%;
    }

    .newsBox .newsHolder.w-6 img {
        width: 100%;
    }

    .newsBox .newsHolder.w-6 a {
        height: auto;
    }

    .wallBox .sectionTitle {
        margin-top: 20px;
    }

    .wallBox {
        background-position: center top;
    }

    .sideBar {
        padding-right:15px !important;
    }

    .sideBanner {
        padding-left: 15px !important;
    }

    .sideBanner .promoBox img {
        width: 150px;
        float: left;
        margin-right: 20px;
    }

    .sideBar.promo {
        padding-right: 0 !important;
    }

    .newsHolder a.side-box {
        min-height: auto;
        display: inline-block;
        width: 100%;
        margin-bottom: 0;
    }
    .newsHolder a.side-box p.download {
        right: 20px;
    }

    .expand {
        font-size: 14px;
    }
    .programBox .expandToggler {
        font-size: 18px;
        width: 35px;
    }

}

@media (max-width: 780px) {
    .admin-bar header {
        top: 46px;
    }
    .admin-bar .pageWrap {
        margin-top: 46px;
    }


    .post-box .date {
        text-align: left;
    }

    .inner h1 {
        font-size: 36px;
        margin: 0 0 30px;
        padding: 0 0 20px;
    }

    .sideBar {
        width: auto;
        float: none;
        /*padding: 0 0 25px;*/
    }

    .content {
        width: auto;
        float: none;
    }

    #breadcrumbs {
        font-size: 10px;
        margin-bottom: 20px;
    }



    .mainMenu:not(.fixed) ul {
        margin: inherit;
        display: block;
    }
	.menuHeader ul li { margin-right:0px; }
	.menuHeader ul li a{font-size: 14px;}

    .topSearch input[type="text"] {
        height: 44px;
        font-size: 22px;
    }
    .topSearch button[type="submit"] {
        height: 44px;
    }
    html, body{
        height:100%;
        margin:0;
        padding:0;
    }
    .scrollable {
        overflow-y: scroll;
        display: block;
        height: 100%;
        overflow-x:hidden;
    }
    .newsBox .promoBox .promo-img-wrap {
        height: auto;
    }

    section.events .view-all-events {
        display: inline-block;
        text-align: left;
    }

    hr {
        margin: 45px 0 35px;
    }

    #wonderpluginslider-container-1 .amazingslider-text-wrapper-1 {
        margin: 0 !important;
        top: 15% !important;
    }

    #wonderpluginslider-container-1 .amazingslider-title-1, #wonderpluginslider-container-1 .amazingslider-description-1 {
        font-size: 24px;
        padding-left: 30px;
    }
    #wonderpluginslider-container-1 .as-btn-blue-medium {
        /*margin-left: 30px;*/
        background: #005088;
        font-size: 14px;
    }

    .content .alignright, .content .alignleft {
        float: none;
        margin: 0 auto 22px;
        text-align: center;
        display: block;
    }

    .contactData, .contactMap {
        width: auto;
        float: none;
        padding: 0;
    }
    .programBox h3, .content .indexpage .programBox h3 {
        font-size: 13px;
        padding-left: 15px;
    }

    .contactData {
        margin: 0 0 28px;
    }

    span.mapAspect {
        height: 320px;
    }

    footer h3 {
        margin-top: 10px;
    }
}

@media screen and (max-width: 600px) {
	.userMessage { display:none}
	.menuHeader ul li a{font-size: 12px;}
	.eventBox p a { font-size:16px;}

}

@media screen and (max-width: 480px) {

    .working-hours .work-box, .working-hours .info-box {
        padding: 15px 30px 15px 65px;
    }

    .working-hours .work-box h4, .working-hours .info-box h4 {
        font-size: 16px;
    }

    .working-hours .work-box:before, .working-hours .info-box:before {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
    }

    .inner .mainCol {
        padding: 0 15px;
    }
    .hideOnMob {
        display: none !important;
    }

    .hideOnDesk {
        display: block;
    }

    .expand {
        font-size: 10px;
    }
    .menuHeader ul li::before{
        float: none;
        margin: 0;
        text-align: center;
        font-size: 28px;
    }
    .mainMenu .scrollable {
       /* height: 250px;*/

    }
    .mainMenu ul li a {
        font-size: 16px;
        line-height: 45px;
    }

	.menuHeader ul li {margin-right:7px; padding: 0; text-align: center}
	.menuHeader ul li a i{ display:none;}
	.topBar .combinedMenu a.no-mob { display:none}
	.topBar .combinedMenu a.mob { display:block}
	.newsBox .newsHolder.w-4 { width:100%}
	.newsBox .newsHolder.w-6 { width:100%}
	.wallBox .t-cell { font-size:16px}

    .content h4.showMoreToggler {
        font-size: 16px;
    }

    .amazingslider-text-wrapper-1 {
        margin: 0 !important;
    }
    #wonderpluginslider-container-1 .amazingslider-text-wrapper-1 {
        margin: 0 !important;
        top: 10% !important;
    }

    #wonderpluginslider-container-1 .amazingslider-title-1, #wonderpluginslider-container-1 .amazingslider-description-1 {
        font-size: 18px;
        padding-left: 20px;
    }
    .programBox img {
        height: auto;

    }
}

@media (max-width: 400px) {


    .content .bannerHolder, .content .newsHolder {
        float: none;
        margin: 0 auto 26px;
        text-align: center;
    }

    .content .bannerHolder img, .content .newsHolder img  {
        display: inline-block;
    }

    .post-box .read-more {
        margin: 10px;
        text-align: center;

    }

    .post-box .read-more a {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        display: block;
    }

    .sideBanner .promoBox img {
        width: 100%;
        margin-bottom: 10px;
        float: none;
    }

}

@media screen and (max-width: 360px) {

    .eventBox p a {
        font-size: 14px;
    }

    .menuHeader ul li a {
        font-size: 11px;
    }

    .sideBanner .promoBox .title {
        font-size: 18px;
    }

    .footerSponsors img {
        max-width: 275px;
    }
    .mainMenu ul li a {
        font-size: 14px;
        line-height: 40px;
    }

    .topSearch {
        margin-bottom: 0;
    }
    span.subToggler{
        font: 24px/1 FontAwesome;
    }
    .dl-submenu span.subToggler {
        padding: 5px 0;
    }


}

@media screen and (max-width: 340px) {

    .logoHolder a {
        left: 0;
    }

}


