@import url("https://use.typekit.net/svd3qkc.js");
@import url("https://use.typekit.net/arc0dlo.css");

body {
    font-size: 16px;
}

.page-template-template-stages footer {
    display: none;
    visibility: hidden;
}

.page-template-template-stages header {
    display: none;
    visibility: hidden;
}

.page-template-template-stages .pageWrap {
    margin-top: 0;
}

#loading-wrap img.dots {
    margin-top: -50px;
    position: relative;
    z-index: -1;
}

.btn {
    font-weight: 500;
}

.title a:hover {
    text-decoration: none;
}

.footer-ovalfit-tc {
    background: #0C0D0D;
    padding: 8px;
    font-size: 12px;
    text-align: center;
}

/* FONT OVERRIDE */

.page-template-template-stages_holding_page .pageWrap p,
.page-template-template-stages_holding_page .pageWrap span,
.page-template-template-stages_holding_page .pageWrap h1,
.page-template-template-stages_holding_page .pageWrap h2,
.page-template-template-stages_holding_page .pageWrap h3,
.page-template-template-stages_holding_page .pageWrap h4,
.page-template-template-stages_holding_page .pageWrap h5,
.page-template-template-stages_holding_page .pageWrap input,
.page-template-template-stages_holding_page .pageWrap button,
.page-template-template-stages_holding_page .pageWrap a,

.page-template-template-stages_login .pageWrap p,
.page-template-template-stages_login .pageWrap span,
.page-template-template-stages_login .pageWrap h1,
.page-template-template-stages_login .pageWrap h2,
.page-template-template-stages_login .pageWrap h3,
.page-template-template-stages_login .pageWrap h4,
.page-template-template-stages_login .pageWrap h5,
.page-template-template-stages_login .pageWrap input,
.page-template-template-stages_login .pageWrap button,
.page-template-template-stages_login .pageWrap a,

.page-template-template-stages .pageWrap p,
.page-template-template-stages .pageWrap span,
.page-template-template-stages .pageWrap h1,
.page-template-template-stages .pageWrap h2,
.page-template-template-stages .pageWrap h3,
.page-template-template-stages .pageWrap h4,
.page-template-template-stages .pageWrap h5,
.page-template-template-stages .pageWrap input,
.page-template-template-stages .pageWrap button,
.page-template-template-stages .pageWrap a,


.page-template-template-stages .swal2-container p,
.page-template-template-stages .swal2-container span,
.page-template-template-stages .swal2-container h1,
.page-template-template-stages .swal2-container h2,
.page-template-template-stages .swal2-container h3,
.page-template-template-stages .swal2-container h4,
.page-template-template-stages .swal2-container h5,
.page-template-template-stages .swal2-container input,
.page-template-template-stages .swal2-container button,
.page-template-template-stages .swal2-container a,

.page-template-template-stages_registration .pageWrap p,
.page-template-template-stages_registration .pageWrap span,
.page-template-template-stages_registration .pageWrap h1,
.page-template-template-stages_registration .pageWrap h2,
.page-template-template-stages_registration .pageWrap h3,
.page-template-template-stages_registration .pageWrap h4,
.page-template-template-stages_registration .pageWrap h5,
.page-template-template-stages_registration .pageWrap input,
.page-template-template-stages_registration .pageWrap button,
.page-template-template-stages_registration .pageWrap a


{
    font-family:"prometo" !important;
}

.content ul.reg-errors li {
    margin: 10px 0 0;
}


select {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 4px;
    background-color: #FFFFFF;
    outline: none;
    padding: 0 20px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;
    -webkit-transition: 0.2s border cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: 0.2s border cubic-bezier(0.215, 0.61, 0.355, 1);
    -ms-transition: 0.2s border cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: 0.2s border cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: 0.2s border cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;

    background-image:
            linear-gradient(45deg, transparent 50%, #FF9E18 50%),
            linear-gradient(135deg, #FF9E18 50%, transparent 50%);
    background-position:
            calc(100% - 20px) calc(50% + 1px),
            calc(100% - 15px) calc(50% + 1px);

    background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
    background-repeat: no-repeat;

}
select option {
    padding-top: 5px;
    padding-bottom: 5px;
}


.checkbox {
    position: relative;
    display: block;
    min-height: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}
.checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 0;
}

.checkbox label {
    display: inline-block;
    padding-left: 30px;
    position: relative;
}

.checkbox .wpcf7-list-item-label:before, .checkbox label:before {
     position: absolute;
     top: 5px;
     left: 0;
     display: block;
     width: 15px;
     height: 15px;
     content: "";
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     border: 1px solid #fff;
     border-radius: 50%;
}

.checkbox .wpcf7-list-item-label:after, .checkbox label:after {
    position: absolute;
    top: 9px;
    left: 4px;
    display: block;
    width: 7px;
    height: 7px;
    content: "";
    background-color: transparent;
    border-radius: 50%;
}

.checkbox input:checked~label:before, .checkbox input:checked~.wpcf7-list-item-label:before {

}

.checkbox input:checked~label:after, .checkbox input:checked~.wpcf7-list-item-label:after {
    background-color: #FF9E18;
}



/******** OVAL FIT HEADER *********/

.page-template-template-stages .ovalfit-header {
    background: #0C0D0D;
}

.page-template-template-stages .ovalfit-header .within {
    min-height: auto;
    padding: 45px 15px 30px;
}
.page-template-template-stages .ovalfit-header .row {
    padding-bottom: 0;
}

.page-template-template-stages .ovalfit-header p {
    margin-bottom: 30px;
}

.page-template-template-stages .ovalfit-header p, .page-template-template-stages .ovalfit-header span {
    color: #fff;
    font-size: 15px;
}

.page-template-template-stages .ovalfit-header a.my-account {
    color: #FF9E18;
    display: block;
    margin-bottom: 30px;
    float: right;
    font-family: NeoSansStdMedium;
    position: relative;
    padding-right: 16px;
}

.page-template-template-stages .ovalfit-header a.my-account:after {
    position: absolute;
    top: 4px;
    right: 0;
    display: block;
    content: "\f078";
    font-family: 'FontAwesome';
    font-size: 12px;
    transition: all 0.3s ease;
}

.page-template-template-stages .ovalfit-header a.my-account:hover  {
    color: #FF9E18;
    opacity: 0.8;
}

.account-menu
{
    right: 0;
    max-width: 320px;
    background: #fff;
    position: absolute;
    padding: 8px 0;
    float: right;
    top: 32px;
    z-index: 1;
    border: 1px solid #eee;
}

@media (max-width: 768px) {
    .account-menu {
        left: -100%;
        max-width: none;
    }

}

.account-menu > * {
    display: block;
    padding: 8px 16px;


}
.account-menu a {
    color: #0C0C0D;
    position: relative;
}
.account-menu a:hover {
    background-color: #eee;
    text-decoration: none;
}

.account-menu a img {
    position: absolute;
    right: 16px;
    top: 7px;
    width: 22px !important;
}

.account-menu span {
    color: #FF9E18 !important;
    font-size: 11px;
}

.account-menu button {
    margin-top: 8px;
    display: none;
}


/* stats */

.page-template-template-stages .ovalfit-header .stats:after {
    display: none;
}
.page-template-template-stages .ovalfit-header .stats .stat {
    margin-bottom: 15px;
    margin-right: 15px;
    display: flex;
    align-items: flex-start;
    max-width: 120px;
    width: 120px;
    min-height: 60px;
    float: left;
}

.page-template-template-stages .ovalfit-header .stats .stat img {
    margin-right: 15px;
    max-width: 20px;
}
.page-template-template-stages .ovalfit-header .stats .stat span {
    line-height: 1;
}
.page-template-template-stages .ovalfit-header .stats .stat span.num {
    color: #FF9E18;
    display: block;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 4px;
}

.page-template-template-stages .ovalfit-header .stats .stat span.num span {
    font-size: 12px;
    color: #FF9E18;
}


.page-template-template-stages .ovalfit-header .title {
    margin-bottom: 30px;
}

.page-template-template-stages .ovalfit-header .title img.stages-logo {
    width: 120px;
}



/******** OVAL FIT BODY *********/

.page-template-template-stages .ovalfit-body .within {
    padding: 8px 15px 30px;
}
.page-template-template-stages .ovalfit-body .within .row {
    padding: 0;
}
.page-template-template-stages p {
    line-height: 1.5;
}

.page-template-template-stages .ovalfit-body .tab-buttons .tablink {
    opacity: 0.4;
    border-right: 0;
    background: none;
    border-bottom: 4px solid transparent;
    font-size: 14px;
    font-family: 'NeoSansStdMedium';
    text-transform: uppercase;
    color: #0C0C0D;
    padding: 15px 60px;
}

.page-template-template-stages .ovalfit-body .tab-buttons .tablink.active-tab {
    opacity: 1;
    border-color:  #FF9E18;
}

.page-template-template-stages .ovalfit-body .tabcontent {
    position: relative;
}

.page-template-template-stages .ovalfit-body .showMoreToggler {
    font-family: "NeoSansStdMedium";
    cursor: pointer;
    color: #000;
    font-size: 14px;
    padding: 30px 60px;
    background-color: #fff;
    transition: all 400ms ease;
    border-bottom: 1px solid #d8d8d8;
}

.page-template-template-stages .ovalfit-body .showMoreToggler.disabled {
    pointer-events: none;
}

.page-template-template-stages .ovalfit-body .showMoreToggler.disableBook .btn.blue {
    background: #ccc;
}

.page-template-template-stages .ovalfit-body .showMoreToggler:hover {
    background-color: #f0f0f0;
    /*padding-left: 15px;*/
}


.page-template-template-stages .ovalfit-body .showMoreToggler:after {
   content: "";
    display: none;
}

.page-template-template-stages .ovalfit-body .showMoreToggler .row {
    display: flex;
    align-items: center;
}

.page-template-template-stages .ovalfit-body .showMoreToggler h4 {
    font-size: 14px;
    font-family: "NeoSansStdMedium";
    color: #008BD1;
    margin: 0;
    text-transform: uppercase;
}

.page-template-template-stages .ovalfit-body .showMoreToggler .date {
    opacity: 0.9;
    color: #008BD1;
}
.page-template-template-stages .ovalfit-body .showMoreToggler .close-toggle {
    display: none;
}
.page-template-template-stages .ovalfit-body .showMoreToggler.on .close-toggle {
    display: block;
}
.page-template-template-stages .ovalfit-body .showMoreToggler.on .btn {
    display: none;
}
.page-template-template-stages .btn {
    font-size: 14px;
    font-family: NeoSansStdMedium;
    text-transform: uppercase;
    margin: 0;
}

.page-template-template-stages .btn:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.page-template-template-stages .btn.blue {
    background-color: #008BD1;
    color: #fff;
}

.page-template-template-stages .btn.orange {
    background-color: #FF9E18;
    color: #fff;
}

.page-template-template-stages .btn.regular {
    padding: 8px 30px;
}

.page-template-template-stages .btn.big {
    padding: 8px 60px;
}

.page-template-template-stages .btn.cancel:hover {
    background-color: #D13200;
}

.page-template-template-stages .moreText {
    padding: 30px 60px;
    margin: 0;
    border-bottom: 1px solid #d8d8d8;
}
.page-template-template-stages .moreText .ride-on-info {
    display: none;
}

.page-template-template-stages .moreText.disableBook .row {
    display: none;
}
.page-template-template-stages .moreText.disableBook .ride-on-info {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #FF9E18;
}
.page-template-template-stages .moreText.disableBook img.loader-img, .page-template-template-stages .moreText.disableBook > p  {
    display: none !important;
}

.page-template-template-stages .moreText img.loader-img {
    width: 200px !important;
    margin: 0 auto;
    display: block;
}

.page-template-template-stages .moreText.loaded img.loader-img {
    display: none;
}


/* Bikes */

.page-template-template-stages .ovalfit-body .bike {
    text-align: center;
    position: relative;
    cursor: pointer;
}

.page-template-template-stages .bike.disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
    pointer-events: none;
}

.page-template-template-stages .ovalfit-body .bike.disabled .bike-num {
    background-color: #C2C1C0;
    color: #535453;
}

.page-template-template-stages .ovalfit-body .bike .bike-num {
    background-color: #FF9E18;
    color: #000;
    margin: 8px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    width: 30px;
    height: 30px;
    border-radius: 40%;
    padding: 5px;
    overflow: hidden;
    font-family: 'NeoSansStdRegular';
}


.page-template-template-stages .ovalfit-body .bike:hover .bike-num {
    background: #008BD1;
    color: #fff;
}


.page-template-template-stages .ovalfit-body .bike .is-power {
    position: absolute;
    top: 91px;
    right: 50%;
    margin-right: -8px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.page-template-template-stages .ovalfit-body .bike .is-power.yes {
    background-color: green;
}

.page-template-template-stages .ovalfit-body .bike .is-power.no {
    background-color: red;
}

.page-template-template-stages .ovalfit-body .first-row  {
    display: flex;
    margin-bottom: 30px;
}

.page-template-template-stages .ovalfit-body .first-row .coach {
    margin: 15px 40px 15px 0px ;
    padding: 15px 20px;
    border-radius: 15px;
    cursor: default;
    background-color: #ECECEF;
    font-family: 'NeoSansStdMedium';
}

.page-template-template-stages .first-row .coach:hover .bike-num {
    background-color: #FF9E18;
}
.page-template-template-stages .first-row .coach .bike-num {
    margin-bottom: 2px;
}

.page-template-template-stages .first-row .projector {
    text-align: center;
    margin: 15px 0;
    width: 100%;
    font-family: 'NeoSansStdMedium';
}
.page-template-template-stages .first-row .projector:before {
    width: 100%;
    height: 15px;
    display: block;
    content: " ";
    border-radius: 3px;
    background: #ECECEF;
    margin-bottom: 15px;
}
.page-template-template-stages .bike .bike-num.coach h4 {
    text-align: left;
}

.page-template-template-stages h2 img, .page-template-template-stages h4 img {
    margin-right: 5px;
    max-height: 18px;
}

.page-template-template-stages .ovalfit-body .flexed {
    display: flex;
    align-items: center;
}

/*FAQ*/

.ovalfit-faq-trigger {
    font-weight: 500;
    margin-bottom: 24px;
    display: block;
    color: #008BD1;
}

.ovalfit-faq-trigger:hover, .ovalfit-faq-trigger:focus {
    text-decoration: underline;
    color: #0170d1;
}

.ovalfit-faqs {
    position: relative;
    background: #fff;
    width: 100%;
    min-height: 450px;
}

.ovalfit-faqs .close {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 600;
    color: #008BD1;
    cursor: pointer;
    opacity: 0.7;
    padding: 5px;
    z-index: 1;
}

.ovalfit-faqs .close:hover {
    opacity: 1;
}
.ovalfit-faqs h3 {
    margin-bottom: 24px;
    font-size: 20px;
    color: #161616;
}
.ovalfit-faqs a {
    font-size: 14px;
    line-height: normal;
    font-weight: 600;
    margin-bottom: 8px;
    display: block;
    color: #008BD1;

}
.ovalfit-faqs a:hover, .ovalfit-faqs a:focus {
    text-decoration: underline;
    color: #0170d1;
}
.ovalfit-faqs .ovalfit-qa {
    display: block;
}
ovalfit-faqs .ovalfit-qa-single a:hover {
    text-decoration: none;
    color: #008BD1;
}

.ovalfit-faqs .ovalfit-qa p {
    display: none;
    font-size: 14px;
}

.ovalfit-faqs .ovalfit-qa-single {
    margin-top: 45px;
}
.ovalfit-faqs .ovalfit-qa-single p {
    font-size: 14px;
}

.ovalfit-faqs .ovalfit-qa-single p a {
    font-weight: normal;
    margin-bottom: 0;
    display: inline;
    color: #008BD1;
}



/************ LOGIN / REG **************/

.page-template-template-stages_login footer, .page-template-template-stages_registration footer {
    display: none;
    visibility: hidden;
}

.page-template-template-stages_login header, .page-template-template-stages_registration header{
    display: none;
    visibility: hidden;
}

.page-template-template-stages_login .pageWrap, .page-template-template-stages_registration .pageWrap {
    margin-top: 0;
    background-color: #0C0D0D;
    min-height: 100vh;
}

.page-template-template-stages_login .stages-logo, .page-template-template-stages_registration .stages-logo{
    width: 120px !important;
}

.page-template-template-stages_login .ride-logo, .page-template-template-stages_registration .ride-logo {
    max-width: 320px;
    margin: 30px auto;
    opacity: 0.2;
    text-align: center;
}

.page-template-template-stages_login fieldset, .page-template-template-stages_registration fieldset  {
    border: none;
    max-width: 420px;
    margin: 0 auto;
}
.page-template-template-stages_login input, .page-template-template-stages_registration input, .page-template-template-stages_holding_page input {
    border-radius: 6px;
    margin-bottom: 15px;
    background: #fff;
    color: #161616;
}

.page-template-template-stages_login .btn, .page-template-template-stages_registration .btn {
    width: 100%;
    padding: 15px 30px;
    margin-top: 30px;
    background: #FF9E18;
    font-weight: 500;
    font-family: NeoSansStdMedium;
}

.page-template-template-stages_login .btn:hover, .page-template-template-stages_registration .btn:hover {
    background: #B23409;
}

.page-template-template-stages_login p, .page-template-template-stages_registration p {
    color: #fff;
}

.page-template-template-stages_registration iframe {
    border: none!important;
}

/****** SWEET ALERT ******/
.swal2-popup {
    width: 50rem;
    padding: 3rem;
    text-align: center;
}
.swal2-popup .swal2-styled:focus {
    box-shadow: none;
}

.swal2-popup .swal2-styled.swal2-confirm {
    background-color: #FF9E18;
    min-width: 120px;
    font-size: 16px;
    padding: 10px 30px;
}

.swal2-popup .swal2-styled.swal2-cancel {
    font-size: 16px;
    padding: 10px 30px;
}

.swal2-popup .swal2-content {
    color: #161616;
    line-height: 1.5;
}
.swal2-content h2 {
    font-family: 'NeoSansStdMedium';
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.swal2-content .session-name {
    font-size: 14px;
    font-family: "NeoSansStdMedium";
    color: #008BD1;
    margin: 0;
    text-transform: uppercase;
}

.swal2-content .session-date {
    font-size: 14px;
    opacity: 0.9;
    color: #008BD1;
}

.swal2-content .session-time {
    font-size: 14px;
    margin-bottom: 30px;
    font-family: "NeoSansStdMedium";
    display: block;
}

.swal2-content .bike-num {
    font-size: 14px;
    font-family: "NeoSansStdMedium";
}

.swal2-content img {
    width: 80px;
    margin-bottom: 20px;
}

/********** Change Dates ***********/

form#changeDates {
    width: 320px;
    position: absolute;
    right: 0;
    top: -52px;
    display: flex;
    align-items: center;

}

form#changeDates input {
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0 15px;
    font-family: NeoSansStdMedium;

}
form#changeDates input:focus {
    outline: none;
}
form#changeDates input:focus {
    box-shadow: none;
}
form#changeDates:before {
    display: block;
    content: "\f073";
    font-family: FontAwesome;
    width: 16px;
    height: 16px;
    color: #FF9E18;
}



/********** Holding Page **********/

.page-template-template-stages_holding_page header {
    display: none;
    visibility: hidden;
}

.page-template-template-stages_holding_page .pageWrap {
    margin-top: 0;
    background-color: #0C0D0D;
    min-height: 100vh;
}
.page-template-template-stages_holding_page .pageWrap .within.inner {
    min-height: auto;
}

.page-template-template-stages_holding_page .stages-logo {
    width: 120px !important;
}

.page-template-template-stages_holding_page .header {
    margin: 30px 40px;
    padding-bottom: 0;
}

.page-template-template-stages_holding_page .header h1 {
    color: #fff;
    font-size: 56px;
    line-height: 60px;
    font-family: NeoSansStdBold;
    margin-bottom: 0;

}

.page-template-template-stages_holding_page .header h5 {
    color: #FF9E18;
    font-family: NeoSansStdMedium;

}
.page-template-template-stages_holding_page .header p {
    color: #fff;
    margin-bottom: 0;
}

.page-template-template-stages_holding_page .ovalfit-holding-body {
    position: relative;
    overflow: hidden;
}
.page-template-template-stages_holding_page .ovalfit-form {
    position: relative;
    z-index: 2;
    width: 40%;
    color: #fff;
    margin: 60px 40px 40px;
}

.page-template-template-stages_holding_page .ovalfit-form input, .page-template-template-stages_holding_page .ovalfit-form select {
    margin-bottom: 0;
    margin-top: 0;
    /*margin-bottom: 20px;*/
}
.page-template-template-stages_holding_page .ovalfit-form input[type=checkbox] {
    margin: 0 10px 0 0;
}
.wpcf7-checkbox span.wpcf7-list-item {
    margin-left: 0;
}

.page-template-template-stages_holding_page .ovalfit-form h5 {
    color: #FF9E18;
    font-family: NeoSansStdMedium;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.page-template-template-stages_holding_page .ovalfit-form span {
    font-size: 14px;
}


.page-template-template-stages_holding_page .btn.orange {
    background-color: #FF9E18;
    color: #fff;
}
.page-template-template-stages_holding_page .btn:hover {
    background: #B23409;
}

.page-template-template-stages_holding_page #ovalfit-tabs {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

/*wpcf7*/

.page-template-template-stages_holding_page .wpcf7-form.sent .inputs-wrapper {
    display: none;
}

.page-template-template-stages_holding_page .wpcf7-response-output.wpcf7-mail-sent-ok {
    border: none;
    font-size: 50px;
    line-height: 55px;
    margin: 0;
    padding: 0;
    font-family: NeoSansStdBold;
    text-transform: uppercase;
}

.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok::after {
    content: "Stay tuned for more in your inbox soon.";
    display: block;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    font-family: NeoSansStdRegular;
    line-height: 24px;
}

.page-template-template-stages_holding_page div.wpcf7 .ajax-loader {
    background-size: cover;
    background-image: url("../images/stages/loading_basic.gif");
    margin-left: 10px;
    vertical-align: middle;
    margin-top: 5px;
    width: 20px;
    height: 20px;
}

.page-template-template-stages .daterangepicker.show-calendar .ranges {
    float: none;
    text-align: center;
    padding: 8px;

}

.page-template-template-stages .daterangepicker.show-calendar .ranges:before {
    content: 'Select single date or range';
    display: block;
    font-family: prometo;
}


/********** MOBILE **********/


@media (max-width: 1024px){

    .page-template-template-stages .ovalfit-header .stats {
        max-height: 52px;
        overflow: hidden;
        transition: all 0.4s ease;
        position: relative;
    }
    .page-template-template-stages .ovalfit-header .stats:after {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        content: "\f078" ;
        font-family: 'FontAwesome';
        /*width: 16px;
        height: 16px;*/
        color: #fff;
        font-size: 12px;
        transition: all 0.3s ease;
    }

    .page-template-template-stages .ovalfit-header .stats.expanded {
        max-height: 300px;
    }
    .page-template-template-stages .ovalfit-header .stats.expanded:after {
        transform: rotate(180deg);
    }
    .page-template-template-stages .ovalfit-header .within {
        padding: 20px 15px 15px;
    }

    .stMain ul.tabAnchor li a span {
        font-size: 12px;
    }
    .page-template-template-stages_holding_page .ovalfit-form {
        margin-top: 100px;
        width: 50%;
    }

    .page-template-template-stages_holding_page .title {
        padding: 0 50px;
    }

}

@media (max-width: 768px){
    .tab-buttons {
        text-align: center;
    }

    form#changeDates {
        width: 100%;
        position: static;
        border-bottom: 1px solid #d8d8d8;
        display: flex;
        justify-content: center;
    }
    form#changeDates input {
        width: auto;
        min-width: 290px;
        padding: 0 10px;
    }

    .drp-calendar {
        width: 100%;
    }
    .daterangepicker .drp-selected {
        margin-bottom: 10px;
    }

    .page-template-template-stages .ovalfit-body .bike .bike-num {
        width: 20px;
        height: 20px;
    }
    .page-template-template-stages .ovalfit-body .showMoreToggler {
        padding: 20px 0;
    }
    .page-template-template-stages .ovalfit-body .showMoreToggler:hover {
        background-color: #fff;
        /*padding-left: 15px;*/
    }
    .page-template-template-stages .moreText {
        padding: 20px 0;
    }
    .page-template-template-stages .ovalfit-body .tab-buttons .tablink {
        padding: 10px 30px;
    }
    .page-template-template-stages .btn.regular {
        padding: 8px 15px;
        font-size: 12px;
    }
    .page-template-template-stages .ovalfit-header .stats .stat {
        max-width: 90px;
        margin-right: 6px;
        padding-top: 2px;
    }

    .page-template-template-stages .ovalfit-header .stats .stat img {
        margin-right: 8px;
        max-width: 16px ;
    }
    .page-template-template-stages .ovalfit-header .stats .stat span {
        line-height: 1;
        font-size: 13px;
    }
    .page-template-template-stages .ovalfit-header .stats .stat span.num {
        font-size: 16px;

    }

    .page-template-template-stages .ovalfit-header .stats .stat span.name {
        margin-left: -22px;
        display: block;
        width: 100%;
        margin-top: 10px;
    }

    .page-template-template-stages_holding_page .header {
        margin: 30px 0;
    }

    .page-template-template-stages_holding_page .header h1 {
        font-size: 34px;
        line-height: 40px;
    }
    .page-template-template-stages_holding_page .ovalfit-form {
        margin: 0 15px 30px;
        width: auto;
    }
    .page-template-template-stages_holding_page #ovalfit-tabs {
        position: static;
    }

    .page-template-template-stages_holding_page .pageWrap .within.inner {
        padding-bottom: 0;
        /*padding-top: 10px;*/
    }
    .page-template-template-stages_holding_page .title {
        padding: 0 15px;
    }
}

@media (max-width: 360px){
    .page-template-template-stages .alignRight {

    }
}

