<!DOCTYPE html>
<html>
<head>
<title>Contact | Section name | Site name</title>

<!-- Meta -->
<meta name="Author" content="Some Author" />
<meta name="Keywords" content="some, key, words" />
<meta name="description" content="Description" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no;"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- CSS -->
<link rel="stylesheet" type="text/css" media="screen, projection" href="../css/default.css" />
<!--<link rel="stylesheet" type="text/css" href="../css/bootstrap-custom.css" />-->
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="only screen and (max-width: 1220px)" href="../css/mobile.css" />
<link rel="stylesheet" type="text/css" media="only screen and (max-width: 833px)" href="../css/component.css" />
<link rel="stylesheet" type="text/css" media="print" href="../css/print.css" />

<!-- Java Script -->
<script src="../jscript/jquery-1.11.2.min.js"></script>
<script src="../jscript/modernizr.custom.js"></script>
<script src="../jscript/jquery.dlmenu.js"></script>
<script src="../jscript/custom.js"></script>

<!-- Icon -->
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="icon" href="/favicon.ico" type="image/ico" />

<!--[if IE 8]><link rel="stylesheet" type="text/css" href="../css/ie8.css" media="screen" /><![endif]-->
<!--[if IE 9]><link rel="stylesheet" type="text/css" href="../css/ie9.css" media="screen" /><![endif]-->
<!--[if lt IE 9]><script src="../jscript/html5.js"></script><![endif]-->

</head>

<body class="inner">
<header>
	<div class="topBar">
    	<div class="userInfo">
       		<img src="../images/basic/avatar.png">
            <span class="userMessage">Welcome back <strong>JOHN</strong></span>
        </div>
        <div class="combinedMenu">
        	<a href="#" class="no-mob">HOURS& LOCATION</a>
        	<a href="#" class="mob"><i class="fa fa-clock-o"></i></a>
            <a href="#" class="no-mob">BOOK AN EVENT</a>
            <a href="#" class="mob"><i class="fa fa-calendar-o"></i></a>
            <a href="#" class="login">LOGIN</a>
       		<a href="#" class="soc"><img src="../images/basic/fb.png"></a>
            <a href="#" class="soc"><img src="../images/basic/tw.png"></a>
            <a href="#" class="soc"><img src="../images/basic/gp.png"></a>
            
        </div>
    </div>
    <div class="headerBox">
        <div class="within">
            <div class="logoHolder">
                <a href="#"><img src="../images/basic/logo.png" alt="Site name"></a>
            </div>
            <div class="menuHeader">
            	<ul>
                	<li><a href="#"><i class="pe-7s-id"></i><span>Membership</span></a></li>
                    <li><a href="#"><i class="pe-7s-date"></i><span>Event Calendar</span></a></li>
                    <li><a href="#"><i class="pe-7s-news-paper"></i><span>Blog</span></a></li>
                    <li><a href="#"><i class="pe-7s-phone"></i><span>Contact Us</span></a></li>
                </ul>
            </div>
        </div>
        <div class="navBox">
        	<div class="within">
            	<div class="thruMenu">
                	<ul>
                    	<li><a href="#">About</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Location</a></li>
                    </ul>
                </div>
                <div class="otherMenu">
                	<span>Visit our other sites:</span>
                	<ul>
                    	<li><a href="#">Athlete Perfomance</a></li>
                        <li><a href="#">Richmond Olympic Experience</a></li>
                        <li><a href="#">YYOGA</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="dl-menu" class="dl-menuwrapper" style="z-index: 1000">
            <button class="dl-trigger">Open Menu</button>
            <ul class="dl-menu">
                <li class="menuItem"><a href="#">About</a></li>
                <li class="menuItem"><a href="#">Careers</a></li>
                <li class="menuItem"><a href="#">Location</a></li>
                <div class="otherMenu">
                    <span>Visit our other sites:</span>
                    <li class="menuItem"><a href="#">Athlete Perfomance</a></li>
                    <li class="menuItem"><a href="#">Richmond Olympic Experience</a></li>
                    <li class="menuItem"><a href="#">YYOGA</a></li>
                </div>
            </ul>
        </div>
    </div>
</header>
<!-- /header -->
<section class="innerphotoBox">
   <img src="../images/basic/inner-contact-photo.jpg" alt="">
</section>
<div class="within inner">
    <h1>Contact</h1>
    <div class="clear"></div>

    <div class="contactBox">
        <div class="contactData">
            <div class="contactMeta">
                <p class="cmLocation">6111 River Rd<br>Richmond, BC V7C 0A2<br>Canada</p>
                <p class="cmPhone">+1 778-296-1400</p>
                <p class="cmMail"><a href="#">info@yoursitename.com</a></p>
                <p class="cmWorkingHours">
                    <strong>7 days a week</strong> 6:00am - 11:00pm
                    <br>
                    <strong>Holidays</strong> 7:00am - 10:00pm
                </p>
            </div><!-- /contactMeta -->

            <div class="contactForm">
                <form action="">
                    <p>
                        <input type="text" name="" value="" placeholder="First name">
                    </p>
                    <p>
                        <input type="text" name="" value="" placeholder="Last name">
                    </p>
                    <p>
                        <input type="email" name="" value="" placeholder="Email">
                    </p>
                    <p>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </p>
                    <p><button class="btn" type="submit" name="">Contact Us</button></p>
                </form>
            </div><!-- /contactForm -->
        </div><!-- /contactData -->
        <div class="contactMap">
            <div class="mapHolder">
                <span class="mapAspect" role="presentation" aria-hidden="true"></span>
                <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
                <div id="gmap_canvas" style="height:500px;width:600px;"></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style><script type="text/javascript"> function init_map(){var myOptions = {zoom:14,center:new google.maps.LatLng(40.805478,-73.96522499999998),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(40.805478, -73.96522499999998)});infowindow = new google.maps.InfoWindow({content:"<b>The Breslin</b><br/>2880 Broadway<br/> New York" });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});}google.maps.event.addDomListener(window, 'load', init_map);</script>
            </div><!-- /mapHolder -->
        </div><!-- /contactMap -->
    </div><!-- /contactBox -->

</div><!-- /within -->
<section class="eventBox">
    <div class="within">
        <p><a href="#"> &gt;&gt;&gt;  Click here to Book an event  &lt;&lt;&lt; </a></p>
    </div>
</section>
<footer>
	<div class="footerTop">
    	<div class="within">
        	<div class="footerMenu">
                <div class="navHolder">
                    <ul id="navSec">
                        <h3 class="label">The Facility</h3>
                        <li class=""><a href="#">Overview</a></li>
                        <li class=""><a href="#">About us</a></li>
                        <li class=""><a href="#">Virtual Tour</a></li>
                        <li class=""><a href="#">Facility Tours</a></li>
                        <li class=""><a href="#">Rentals</a></li>
                        <li class=""><a href="#">Community use</a></li>
                        <li class=""><a href="#">Richmond Olympic</a></li>
                        <li class=""><a href="#">Experience</a></li>
                    </ul>
                </div>
                <div class="navHolder">
                    <ul id="navSec">
                        <h3 class="label">Activities</h3>
                        <li class=""><a href="#">Fitness Center</a></li>
                        <li class=""><a href="#">Ice, Courts, Track</a></li>
                        <li class=""><a href="#">Climbing Wall</a></li>
                        <li class=""><a href="#">Fitness Studios</a></li>
                        <li class=""><a href="#">Riverport Community </a></li>
                        <li class=""><a href="#">Paddling Center</a></li>
                        <li class=""><a href="#">Meeting Rooms</a></li>
                        <li class=""><a href="#">Oval Café</a></li>
                        <li class=""><a href="#">Child Minding</a></li>
                    </ul>
                </div>
                <div class="navHolder">
                    <ul id="navSec">
                        <h3 class="label">Hosting</h3>
                        <li class=""><a href="#">Event Hosting</a></li>
                        <li class=""><a href="#">Sport Hosting</a></li>
                        <li class=""><a href="#">Event Calendar</a></li>
                    </ul>
                </div>
                <div class="navHolder">
                    <ul id="navSec">
                        <h3 class="label">The CITY</h3>
                        <li class=""><a href="#">Overview</a></li>
                        <li class=""><a href="#">About Richmond</a></li>
                        <li class=""><a href="#">Attractions</a></li>
                        <li class=""><a href="#">Accomodations</a></li>
                        <li class=""><a href="#">Dining</a></li>
                        <li class=""><a href="#">Getting here</a></li>
                        <li class=""><a href="#">Driving instructions</a></li>
                    </ul>
                </div>
            </div>
            <div class="footerSponsors">
           		<img src="../images/basic/sponsors.jpg">
            </div>
        </div>
    </div>
    <div class="footerBottom">
        <div class="within">
            <div class="copyrightHolder">
                <p class="copyright">Copyright 2015 Richmond Olympic Oval</p>
            </div>
        </div>
    </div>
</footer>
</body>
<script>
	// Mobile Menu
	$( document ).ready(function() {
		$( '#dl-menu' ).dlmenu();
	});
	
</script>

</html>
